<form
  [action]="action$ | async"
  novalidate
  #form
  #contactForm="ngForm"
  (ngSubmit)="onSubmit(form.action, contactForm.value)"
>
  <mat-card>
    <mat-card-title>
      Contact Form
    </mat-card-title>
    <mat-card-subtitle>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dolor earum maiores modi quos. Dicta dolore magni veritatis. Amet asperiores cupiditate ipsam molestias nulla officiis perferendis quis ratione voluptate.
    </mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-checkbox
            name="honey"
            tabindex="-1"
            ngModel
          >
            Use my data however you like.
          </mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" name="firstName" required ngModel #firstName="ngModel">
            <mat-error *ngIf="firstName.hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" name="lastName" required ngModel #lastName="ngModel">
            <mat-error *ngIf="lastName.hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" name="email" required email ngModel #email="ngModel">
            <mat-error *ngIf="email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">
              Email must be a <strong>valid</strong> email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Subject" name="subject" required ngModel #subject="ngModel">
            <mat-error *ngIf="subject.hasError('required')">
              Subject is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput cdkTextareaAutosize placeholder="Message" name="message" required ngModel #message="ngModel"></textarea>
            <mat-error *ngIf="message.hasError('required')">
              Message is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

<mh-http-messages></mh-http-messages>
