<form
  action="https://api.domain.tld/api/endpoint"
  novalidate
  #form
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit(form.action, contactForm.value)"
>
  <mat-card>
    <mat-card-title>
      Contact Form
    </mat-card-title>
    <mat-card-subtitle>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis dolor earum maiores modi quos. Dicta dolore magni veritatis. Amet asperiores cupiditate ipsam molestias nulla officiis perferendis quis ratione voluptate.
    </mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-checkbox
            formControlName="honey"
            tabindex="-1"
          >
            Use my data however you like.
          </mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="contactForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="contactForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.controls['email'].hasError('email')">
              Email must be a <strong>valid</strong> email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Subject" formControlName="subject">
            <mat-error *ngIf="contactForm.controls['subject'].hasError('required')">
              Subject is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput cdkTextareaAutosize placeholder="Message" formControlName="message"></textarea>
            <mat-error *ngIf="contactForm.controls['message'].hasError('required')">
              Message is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
